package layout

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Go Blueprint Hello</title>
			<link rel="stylesheet" href="/static/css/main.css" type="text/css"/>
			<script src="/static/js/htmx.min.js"></script>
			<script src="/static/js/response-target.js"></script>
		</head>
		<body>
			<main>
				{ children... }
			</main>
		</body>
	</html>
}
