@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #121212;
  color: #fff;
}

/* Ensure images are responsive */
img {
  max-width: 100%;
  height: auto;
}

/* Remove default list styling */
ul,
ol {
  list-style: none;
}

/* Remove default hyperlink styling */
a {
  text-decoration: none;
  color: inherit;
}
